In [13]:
#Hello World
print("Hello World!!")

Hello World!!

In [5]:
#Variables
a=2
a

2

In [6]:
#float 
a=float(7)
a

7.0

In [8]:
#integer
b=int(7.0000001)
b

7

In [21]:
#String
hii="hii friend's friend"
bye="ji"
name="Hi all"
name  #it will not be printed...only last variable will be printed
print(hii)
print(name)
bye

hii friend's friend
Pati dev

'ji'

In [28]:
#Concatenation
hello="Hello"
world="World"
one=1
two=2
three=one+two
helloworld=hello+world
#helloworld3=helloworld+three will not work coz concatenation works on the same type only
print(three)
print(helloworld)

3.0
HelloWorld

In [29]:
#assignment
a,b,c=1,2,3  #we can assign multiple values simultaneously
print(a)
print(b)
print(c)

1
2
3

In [33]:
#if statement and isinstance
myint=3
myfloat=7.0
mystr='hello'
if isinstance(mystr, str) and mystr=='hello':  #or simply mystr=='hello'
    print("String is: %s" % mystr)
if isinstance(myint, int) and myint==3:
    print("Integer is: %d" % myint)
if isinstance(myfloat, float) and myfloat==7.0:
    print("Floating point is: %f" % myfloat)

String is: hello
Integer is: 3
Floating point is: 7.000000

In [38]:
#lists
mylist=[]
mylist.append(1)
mylist.append(2)
mylist.append('three')
print(mylist[0])
print(mylist[1])
print(mylist[2])

for x in mylist:
    print(x)

print( mylist[10]) #generates an out of range exception

1
2
three
1
2
three

IndexError: list index out of range

In [43]:
#List example
numbers=[]
strings=[]
names=["Alpha","Beta","Gamma"]
numbers.append(1)
numbers.append(2)
numbers.append(3)
strings.append("Hello")
strings.append("World")
second_name=names[1]
print("Second name in the list of names is: %s" % second_name)
for x in numbers:
    print(x)
for x in strings:
    print(x)
for x in names:
    print(x)
    
print("Another way of printing is:")
print(numbers)
print(strings)
print(names)

Second name in the list of names is: Beta
1
2
3
Hello
World
Alpha
Beta
Gamma
Another way of printing is:
[1, 2, 3]
['Hello', 'World']
['Alpha', 'Beta', 'Gamma']

In [48]:
#Arithmetic Operations
a=3+2*9/3.0
print(a)
modulo=11%3
print(modulo)

9.0
2

In [50]:
#Squares and cubes
squared=2**     #square of 2
cubed=2**3      #cube of 2
print(squared)
print(cubed)

4
8

In [53]:
#operators with strings
hello= "hello"
world="world"
helloworld1=hello+" "+world
helloworld2="HELLO"+" "+"WORLD"
print(helloworld1)
print(helloworld2)

hello world
HELLO WORLD

In [54]:
#Repeating a string
string="Hello"
string*10

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHello'

In [55]:
#Joining Lists
odd=[1,3,5,7,9]
even=[2,4,6,8,10]
all_no=odd+even
print(all_no)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [59]:
#Repeating a list
a=[1,2,3]
b=a*3
print(a)
print(b)
print([1,2,3]*3)

[1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [63]:
#excercise lists
x=object()
y=object()
x_list=[x]*10
y_list=[y]*10
big_list=x_list+y_list
print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))
if x_list.count(x)==10 and y_list.count(y)==10:
    print("Almost there.....")
if big_list.count(x)==10 and big_list.count(y)==10:
    print("Great Job")

x_list contains 10 objects
y_list contains 10 objects
big_list contains 20 objects
Almost there.....
Great Job

In [66]:
#Argumenting and string formatting
name="Kokila"
print("Hello, %s" %name)

Hello, Kokila

In [77]:
#Multiple arguments
f_name="Kokila"
l_name="Jamwal"
age=25
print("Your name is %s %s. You are %d years old." %(f_name, l_name, age))

Your name is Kokila Jamwal. You are 25 years old.

In [78]:
#Any object which is not a string can be formatted using the %s operator 
a=[1,2,3]
print("List is %s" %a)

# %s - String (or any object with a string representation, like numbers)

# %d - Integers

# %f - Floating point numbers

# %.<number of digits>f - Floating point numbers with a fixed amount of digits to the right of the dot.

# %x/%X - Integers in hex representation (lowercase/uppercase)

List is [1, 2, 3]

In [82]:
#format specifier excercise
data=("Abhi","Singh",55.87)
format_string="Hello %s %s. Your balance is %.2f." 
print(format_string  % data)

Hello Abhi Singh. Your balance is 55.87.

In [102]:
#basic string operations
astring="Single quotes are written as ''"
print(astring)
print("Length of %s is %d" %(astring,len(astring)))
print("Index of '' are: %d " %(astring.index("'")))       #starting index is 0
print("Number of t[s] in the string is: %d " %astring.count("t"))
print(astring[7:31])
print(astring[7:31:2])        #[start:stop:step]
print(astring[::-1])         #reverse a string
print(astring.lower())
print(astring.upper())
print(astring.startswith("single"))     #False coz'S'of single is capital
print(astring.startswith("Single"))     #True coz'S'of single is capital
print(astring.endswith("as ''"))        #True
print(astring.endswith("as"))           #False
print(astring.split(" "))
print(astring.split("are"))             #splits the atring with repect to'are'

Single quotes are written as ''
Length of Single quotes are written as '' is 31
Index of '' are: 29
Number of t[s] in the string is: 3
quotes are written as ''
qoe r rte s'
'' sa nettirw era setouq elgniS
single quotes are written as ''
SINGLE QUOTES ARE WRITTEN AS ''
False
True
True
False
['Single', 'quotes', 'are', 'written', 'as', "''"]
['Single quotes ', " written as ''"]

In [104]:
#conditions
x=1       #assignment
print(x==2)       #comparison
print(x==1)
print(x>-1)
print(x<3)
print(x!=5)

False
True
True
True
True

In [108]:
#Boolean operations
name="Abhi"
age=10
if name=="Abhi" and age==10:
    print("Your name is Abhi and your age is 10")
if name=="Abhi" and age==20:
    print("this statement is False")
if name=="Abhi" or age==20:
    print("Your name is Abhi or your age is 10")
if name=="Ravi" or age==10:
    print("Your name is Ravi or your age is 10")

Your name is Abhi and your age is 10
Your name is Abhi or your age is 10
Your name is Ravi or your age is 10

In [112]:
a=1
b=2
if a==2:
    print("a is 2")        #An empty string: "" 2. An empty list: [] 3. The number zero: 0 4. The false boolean variable: False
elif a==1:
    print("a is 1")
    pass            #pass statement does nothing
else:
    pass

a is 1

In [113]:
x=[1,2,3]
y=[1,2,3]
if x==y:
    print("x and y are equal")
if x is y:               #"is" operator does not match the values of the variables, but the instances themselves
    print("x and are same")
else:
    print("x and y are not same")

x and y are equal
x and y are not same

In [116]:
#not operator
print(not False)
print(not 0)
print((not False)==False)

True
True
False

In [117]:
#Loops
primes=[2,3,5,7]
for prime in primes:
    print (prime)

2
3
5
7

In [120]:
#Range
for x in range(10):
    print(x)    #prints 0-9
for x in range(3,10):
    print(x)    #prints 3-9
for x in range(3,10,2):
    print(x)

0
1
2
3
4
5
6
7
8
9
3
4
5
6
7
8
9
3
5
7
9

In [126]:
#while
y=1
while y<=5:
    print(y)
    y+=1    #y=y+1
    if y>2:
        break

    
for x in range(10):
    if x%2==0:
        continue
    print(x)

1
2
1
3
5
7
9

In [133]:
#Functions
def my_fun1():
    print("Hello!! how are you")
def my_fun2(name,greeting):
    print("Hello %s, Wish you a very %s" %(name,greeting))
def sum(a,b):
    return a+b
    
my_fun1()
my_fun2("Kokila","Happy Birthday")
sum(2,4)

Hello!! how are you
Hello Kokila, Wish you a very Happy Birthday

6

In [134]:
#objects
# define the Vehicle class
class Vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00
    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str

# your code goes here
car1 = Vehicle()
car1.name = "Fer"
car1.color = "red"
car1.kind = "convertible"
car1.value = 60000.00

car2 = Vehicle()
car2.name = "Jump"
car2.color = "blue"
car2.kind = "van"
car2.value = 10000.00

# test code
print(car1.description())
print(car2.description())

Fer is a red convertible worth $60000.00.
Jump is a blue van worth $10000.00.

In [147]:
#dictionary
phonebook1={}
phonebook1["A"]=100
phonebook1["B"]=200
phonebook1["C"]=300
phonebook1["D"]=400
print(phonebook1)

#another initialization
phonebook2 = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}
print(phonebook2)

for a,b in phonebook1.items():
    print("Phone no. for %s is %s" %(a,b))
for a,b in phonebook2.items():
    print("Phone no. for %s is %s" %(a,b))
del phonebook1["D"]
print(phonebook)
phonebook2.pop("Jill")
print(phonebook2)

{'A': 100, 'B': 200, 'C': 300, 'D': 400}
{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}
Phone no. for A is 100
Phone no. for B is 200
Phone no. for C is 300
Phone no. for D is 400
Phone no. for John is 938477566
Phone no. for Jack is 938377264
Phone no. for Jill is 947662781
{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}
{'John': 938477566, 'Jack': 938377264}

In [ ]:
#Modules
# game.py
# import the draw module
import draw

def play_game():
    ...

def main():
    result = play_game()
    draw.draw_game(result)

# this means that if this script is executed, then 
# main() will be executed
if __name__ == '__main__':
    main()