In [1]:
#Pandas Series
import pandas as pd
s=pd.Series()        #Create empty series
print(s)

Series([], dtype: float64)

In [9]:
#Pandas series from array
import pandas as pd
import numpy as np
ar=['a','b','c','d']    #array
s=pd.Series(ar)
print(s)
np_ar=np.array(ar)     #numpy array
s=pd.Series(np_ar)
print(s)

#passing index values
s=pd.Series(np_ar,index=[101,102,103,104])       #custom index values
print(s)

0    a
1    b
2    c
3    d
dtype: object
0    a
1    b
2    c
3    d
dtype: object
101    a
102    b
103    c
104    d
dtype: object

In [11]:
#Pandas series from dict
import pandas as pd
dict={'a':[1,0.1],
     'b':[2,0.2],
     'c':[3,0.3],
     'd':[4,0.4]}
s=pd.Series(dict)      #takes key as index by default
print(s)

#passing index values
s=pd.Series(dict,index=['b','c','a','e','d'])
print(s)

a    [1, 0.1]
b    [2, 0.2]
c    [3, 0.3]
d    [4, 0.4]
dtype: object
b    [2, 0.2]
c    [3, 0.3]
a    [1, 0.1]
e         NaN
d    [4, 0.4]
dtype: object

In [13]:
#Pandas series from scalar value
scalar=5
s=pd.Series(scalar,[0,1,2,3,4,5,6,7])      #need to provide index in order to make series from scalar value
print(s)

0    5
1    5
2    5
3    5
4    5
5    5
6    5
7    5
dtype: int64

In [23]:
#accessing elements of a series
import pandas as pd
s=pd.Series([1,2,3,4],index=['a','b','c','d'])
print(s[0])       #prints element at 0th position
print(s[:3])     #prints first 3 elements
print(s[-2:])     #prints last 2 elements
print(s[1:3])     #prints element at 1st and 2nd position
print(s[['b','c']] )   #prints elements using index values

1
a    1
b    2
c    3
dtype: int64
c    3
d    4
dtype: int64
b    2
c    3
dtype: int64
b    2
c    3
dtype: int64

In [28]:
#Pandas DataFrames

import pandas as pd
data=pd.DataFrame()    #create empty dataframe
print(data)

list=[1,2,3,4,5]
data=pd.DataFrame(list)    #create dataframe from list
print(data)

list=[['A',10],['B',20],['C',30]]
data=pd.DataFrame(list,columns=['Name','Age'])          #create dataframe from list of lists and column labels
print(data)

data=pd.DataFrame(list,columns=['Name','Age'],dtype=float)                   #data tpe converted to float
print(data)

Empty DataFrame
Columns: []
Index: []
   0
0  1
1  2
2  3
3  4
4  5
  Name  Age
0    A   10
1    B   20
2    C   30
  Name   Age
0    A  10.0
1    B  20.0
2    C  30.0

In [31]:
#DataFrame from Dict of ndarrays / Lists
import pandas as pd
dict={'Name':['Aa','Bb','Cc'],
     'Age':[10,20,30]}
data=pd.DataFrame(dict)
print(data)

data=pd.DataFrame(dict,index=['Rank1','Rank2','Rank3'])   #assigning index values
print(data)

  Name  Age
0   Aa   10
1   Bb   20
2   Cc   30
      Name  Age
Rank1   Aa   10
Rank2   Bb   20
Rank3   Cc   30

In [36]:
#DataFrame from List of Dicts
import pandas as pd
dict=[{'Name':'Aa','Age':10},
      {'Name':'Bb','Age':20,'Gender':'Male'}]
data=pd.DataFrame(dict)
print(data)

data=pd.DataFrame(dict,index=['First','Second'])       #assigning index values
print(data)

data=pd.DataFrame(dict,index=['First','Second'],columns=['Name','Age'])      #row and column indices
print(data)

data=pd.DataFrame(dict,index=['First','Second'],columns=['Name','Occupation'])      #undefined column name
print(data)

   Age Gender Name
0   10    NaN   Aa
1   20   Male   Bb
        Age Gender Name
First    10    NaN   Aa
Second   20   Male   Bb
       Name  Age
First    Aa   10
Second   Bb   20
       Name  Occupation
First    Aa         NaN
Second   Bb         NaN

In [53]:
#DataFrame from Dict of Series
import pandas as pd
dict={'one':pd.Series([1,2,3,4],index=['a','b','c','d']),
     'two':pd.Series([5,6,7],index=['a','b','c'])}
data=pd.DataFrame(dict)
print(data)

print('Printing based on key value in dict')
print(data['one'])

data['three']=pd.Series([1,2,3,4],index=['a','b','c','d'])   #index should be provided
print('After adding third column')
print(data)

data['four']=data['one']+data['three']
print('After adding fourth column')
print(data)

#Deleting a column using del function and pop function
del data['one']
print('After deleting column one')
print(data)

data.pop('two')
print('After deleting column two')
print(data)

#Selecting rows
print(data.loc['c'])    #location based on index value
print(data.iloc[0])     #location based on integer...1st row with integer value=0

print(data[2:4])    #Slicing rows

   one  two
a    1  5.0
b    2  6.0
c    3  7.0
d    4  NaN
Printing based on key value in dict
a    1
b    2
c    3
d    4
Name: one, dtype: int64
After adding third column
   one  two  three
a    1  5.0      1
b    2  6.0      2
c    3  7.0      3
d    4  NaN      4
After adding fourth column
   one  two  three  four
a    1  5.0      1     2
b    2  6.0      2     4
c    3  7.0      3     6
d    4  NaN      4     8
After deleting column one
   two  three  four
a  5.0      1     2
b  6.0      2     4
c  7.0      3     6
d  NaN      4     8
After deleting column two
   three  four
a      1     2
b      2     4
c      3     6
d      4     8
three    3
four     6
Name: c, dtype: int64
three    1
four     2
Name: a, dtype: int64
   three  four
c      3     6
d      4     8

In [57]:
#Appending 2 DataFrames
import pandas as pd
data1=pd.DataFrame([['Aa',10],['Bb',20]],columns=['Name','Age']) 
data2=pd.DataFrame([['Cc',30],['Dd',40]],columns=['Name','Age']) 
data3=data1.append(data2)
print(data3)

#delete rows with its index value
data3=data3.drop(0)
print(data3)

  Name  Age
0   Aa   10
1   Bb   20
0   Cc   30
1   Dd   40
  Name  Age
1   Bb   20
1   Dd   40

In [19]:
#Basic Functionality-Series
import pandas as pd
import numpy as np
s=pd.Series(np.random.randn(6))
print(s)

#list of the labels of the series
print ("The axes are:")
print(s.axes)

#check if the object is empty or not
print ("Is the Object empty?")
print(s.empty)

#number of dimensions of the object..for series it is 1
print('No. of dimensions of the object: %d' %s.ndim)     #or print(s.ndim)

#size of the series
print('Size of the Series is: %d' %s.size) 

#Series as array
print('The series is: %s' %s.values) 

#first n rows
print('First 2 rows are: %s' %s.head(2)) 
print(s.head())     #by default it prints first 5 rows

#last n rows
print('Last 3 rows are: %s' %s.tail(3)) 
print(s.tail())     #by default it prints last 5 rows

0   -0.578040
1    0.331621
2   -0.742039
3   -0.326613
4    0.999175
5    0.342610
dtype: float64
The axes are:
[RangeIndex(start=0, stop=6, step=1)]
Is the Object empty?
False
No. of dimensions of the object: 1
Size of the Series is: 6
The series is: [-0.57804034  0.33162139 -0.74203882 -0.32661256  0.999175    0.34261014]
First 2 rows are: 0   -0.578040
1    0.331621
dtype: float64
0   -0.578040
1    0.331621
2   -0.742039
3   -0.326613
4    0.999175
dtype: float64
Last 3 rows are: 3   -0.326613
4    0.999175
5    0.342610
dtype: float64
1    0.331621
2   -0.742039
3   -0.326613
4    0.999175
5    0.342610
dtype: float64

In [35]:
#Basic Functionality-DataFrame
import pandas as pd
dict={'Name':['Aa','Bb','Cc'],
     'Age':[10,20,30],
     'Gender':['M','F','F']}
data=pd.DataFrame(dict)
print('Original DataFrame is:')
print(data)

#Transpose
print('Transposed DataFrame is:')
print(data.T)

#Axes labels
print ("Row axis labels and column axis labels are:")
print(data.axes)

#data types
print ("Data types are:")
print(data.dtypes)

#check if the object is empty or not
print ("Is the Object empty?")
print(data.empty)

#number of dimensions of the object..for dataframe it is 2
print('No. of dimensions of the object: %d' %data.ndim)     #or print(data.ndim)

#size of the dataframe
print('Size of the DataFrame is: %d' %data.size) 

#shape of the dataframe
print ("The shape of the object is:")
print(data.shape)

#DataFrame as array
print('The dataFrame is:') 
print(data.values)

#first n rows
print('First 2 rows are:') 
print(data.head(2))
print(data.head())     #by default it prints first 5 rows

#last n rows
print('Last 1 row is:') 
print(data.tail(1))
print(data.tail())     #by default it prints last 5 rows

Original DataFrame is:
  Name  Age Gender
0   Aa   10      M
1   Bb   20      F
2   Cc   30      F
Transposed DataFrame is:
         0   1   2
Name    Aa  Bb  Cc
Age     10  20  30
Gender   M   F   F
Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=3, step=1), Index(['Name', 'Age', 'Gender'], dtype='object')]
Data types are:
Name      object
Age        int64
Gender    object
dtype: object
Is the Object empty?
False
No. of dimensions of the object: 2
Size of the DataFrame is: 9
The shape of the object is:
(3, 3)
The dataFrame is:
[['Aa' 10 'M']
 ['Bb' 20 'F']
 ['Cc' 30 'F']]
First 2 rows are:
  Name  Age Gender
0   Aa   10      M
1   Bb   20      F
  Name  Age Gender
0   Aa   10      M
1   Bb   20      F
2   Cc   30      F
Last 1 row is:
  Name  Age Gender
2   Cc   30      F
  Name  Age Gender
0   Aa   10      M
1   Bb   20      F
2   Cc   30      F

In [60]:
#Descriptive Statistics
import pandas as pd
dict={'Name':['Aa','Bb','Cc','Dd','Ee','Ff','Gg','Hh'],
     'Age':[10,20,30,40,50,60,70,80],
     'Gender':['M','F','F','M','M','F','F','M'],
     'Marks':[20.00,25.10,30.20,35.30,40.40,45.50,50.60,55.70]}
data=pd.DataFrame(dict)
print('Original DataFrame is:')
print(data)

#Sum of the values for the requested axis
print('Sum at 0 axis is:')
print(data.sum())    #by default it takes 0 axis

print('Sum at 1 axis is:')
print(data.sum(1)) 

#Average value
print('Average is:')
print(data.mean())

#Bressel standard deviation of the numerical columns
print('Standard Deviation is:')
print(data.std())

#Number of non-null observations
print('Count is:')
print(data.count())

#Median of Values
print('Median is:')
print(data.median())

#Mode of values
print('Mode is:')
print(data.mode())

#Minimum Value
print('Minimum is:')
print(data.min())

#Maximum Value
print('Maximum is:')
print(data.max())

#Product of Values
print('Product is:')
print(data.prod())

#Cumulative Sum
print('Cumulative Sum is:')
print(data.cumsum())

#abs() and cumprod() raises exception for string or character values

#Absolute Value
#print('Absolute is:')
#print(data.abs())

#Cumulative Product
#print('Cumulative Product is:')
#print(data.cumprod())


#Summarizing Data
print('Data Summary:')
print(data.describe())    #it excludes character columns..by default ...include='number'

#use 'include' argument to include-'number','object' or 'all'
print(data.describe(include='object')) 
print(data.describe(include='all'))

Original DataFrame is:
  Name  Age Gender  Marks
0   Aa   10      M   20.0
1   Bb   20      F   25.1
2   Cc   30      F   30.2
3   Dd   40      M   35.3
4   Ee   50      M   40.4
5   Ff   60      F   45.5
6   Gg   70      F   50.6
7   Hh   80      M   55.7
Sum at 0 axis is:
Name      AaBbCcDdEeFfGgHh
Age                    360
Gender            MFFMMFFM
Marks                302.8
dtype: object
Sum at 1 axis is:
0     30.0
1     45.1
2     60.2
3     75.3
4     90.4
5    105.5
6    120.6
7    135.7
dtype: float64
Average is:
Age      45.00
Marks    37.85
dtype: float64
Standard Deviation is:
Age      24.494897
Marks    12.492398
dtype: float64
Count is:
Name      8
Age       8
Gender    8
Marks     8
dtype: int64
Median is:
Age      45.00
Marks    37.85
dtype: float64
Mode is:
  Name  Age Gender  Marks
0   Aa   10      F   20.0
1   Bb   20      M   25.1
2   Cc   30    NaN   30.2
3   Dd   40    NaN   35.3
4   Ee   50    NaN   40.4
5   Ff   60    NaN   45.5
6   Gg   70    NaN   50.6
7   Hh   80    NaN   55.7
Minimum is:
Name      Aa
Age       10
Gender     F
Marks     20
dtype: object
Maximum is:
Name        Hh
Age         80
Gender       M
Marks     55.7
dtype: object
Product is:
Age      4.032000e+12
Marks    2.772578e+12
dtype: float64
Cumulative Sum is:
               Name  Age    Gender  Marks
0                Aa   10         M     20
1              AaBb   30        MF   45.1
2            AaBbCc   60       MFF   75.3
3          AaBbCcDd  100      MFFM  110.6
4        AaBbCcDdEe  150     MFFMM    151
5      AaBbCcDdEeFf  210    MFFMMF  196.5
6    AaBbCcDdEeFfGg  280   MFFMMFF  247.1
7  AaBbCcDdEeFfGgHh  360  MFFMMFFM  302.8
Data Summary:
             Age      Marks
count   8.000000   8.000000
mean   45.000000  37.850000
std    24.494897  12.492398
min    10.000000  20.000000
25%    27.500000  28.925000
50%    45.000000  37.850000
75%    62.500000  46.775000
max    80.000000  55.700000
       Name Gender
count     8      8
unique    8      2
top      Cc      M
freq      1      4
       Name        Age Gender      Marks
count     8   8.000000      8   8.000000
unique    8        NaN      2        NaN
top      Cc        NaN      M        NaN
freq      1        NaN      4        NaN
mean    NaN  45.000000    NaN  37.850000
std     NaN  24.494897    NaN  12.492398
min     NaN  10.000000    NaN  20.000000
25%     NaN  27.500000    NaN  28.925000
50%     NaN  45.000000    NaN  37.850000
75%     NaN  62.500000    NaN  46.775000
max     NaN  80.000000    NaN  55.700000

In [76]:
#Function Application

import pandas as pd
import numpy as np
def adder(n1,n2):
    return n1+n2

data=pd.DataFrame(np.random.randn(5,3), columns=['col1','col2','col3'])
print(data)
print('After adding 3 to the dataframe elements:')
print(data.pipe(adder,3))

print('Mean of columns:')
print (data.apply(np.mean))  #Mean of columns
print('Mean of rows:')
print (data.apply(np.mean,axis=1))  #Mean of rows


print('Function on columns:')
print(data.apply(lambda x: x.max() - x.min()))   #Function on columns
print('Function on rows:')
print(data.apply((lambda x: x.max() - x.min()),axis=1))    #Function on rows

print(data['col1'].map(lambda x:x*100))      #Function on col1

print(data.applymap(lambda x:x*100))      #Function on complete dataframe elements

       col1      col2      col3
0  0.571686  0.362017  3.027669
1 -0.707812  0.719195 -0.736154
2 -0.170189 -0.025440  0.498811
3  0.948051  0.919635  1.084460
4  0.817475  0.193500 -0.092979
After adding 3 to the dataframe elements:
       col1      col2      col3
0  3.571686  3.362017  6.027669
1  2.292188  3.719195  2.263846
2  2.829811  2.974560  3.498811
3  3.948051  3.919635  4.084460
4  3.817475  3.193500  2.907021
Mean of columns:
col1    0.291842
col2    0.433782
col3    0.756361
dtype: float64
Mean of rows:
0    1.320458
1   -0.241590
2    0.101061
3    0.984049
4    0.305999
dtype: float64
Function on columns:
col1    1.655863
col2    0.945075
col3    3.763823
dtype: float64
Function on rows:
0    2.665652
1    1.455349
2    0.669000
3    0.164824
4    0.910454
dtype: float64
0    57.168604
1   -70.781157
2   -17.018894
3    94.805146
4    81.747492
Name: col1, dtype: float64
        col1       col2        col3
0  57.168604  36.201741  302.766909
1 -70.781157  71.919540  -73.615382
2 -17.018894  -2.543969   49.881138
3  94.805146  91.963542  108.445975
4  81.747492  19.350027   -9.297910

In [81]:
#Reindexing
import pandas as pd
import numpy as np

N=20

data = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),  #generates date_range with starting date,no.of repetations..i.e. periods and freq of 1 Day(D)
   'x': np.linspace(0,stop=N-1,num=N),  #0 is start value,N-1 is stop value and N is no. of samples to generate
   'y': np.random.rand(N),  #generates random no for N times b/w 0 and 1
   'C': np.random.choice(['Low','Medium','High'],N).tolist(), #from choices in array/list choose N values randomly
   'D': np.random.normal(100, 10, size=(N)).tolist()   #location=100, size=10 i.e. std. deviation and o/p size=N for normal(gaussian distribution)
})

#reindex the DataFrame
data_reindexed = data.reindex(index=[0,2,5], columns=['A', 'C', 'B'])

print('Original DataFrame is:')
print(data)
print('Reindexed DataFrame is:')
print(data_reindexed)

Original DataFrame is:
            A     x         y       C           D
0  2016-01-01   0.0  0.746181  Medium   85.372196
1  2016-01-02   1.0  0.393873  Medium  104.218391
2  2016-01-03   2.0  0.384348     Low  103.963009
3  2016-01-04   3.0  0.804130    High  106.055108
4  2016-01-05   4.0  0.402271  Medium  105.730058
5  2016-01-06   5.0  0.713570    High  100.760082
6  2016-01-07   6.0  0.233725     Low  109.948976
7  2016-01-08   7.0  0.837980  Medium  107.181009
8  2016-01-09   8.0  0.825891    High   91.983562
9  2016-01-10   9.0  0.977792    High  105.711568
10 2016-01-11  10.0  0.059662    High   84.354005
11 2016-01-12  11.0  0.427757     Low   80.195020
12 2016-01-13  12.0  0.528573     Low  105.783788
13 2016-01-14  13.0  0.985763  Medium   85.682203
14 2016-01-15  14.0  0.075386  Medium   97.666353
15 2016-01-16  15.0  0.463628  Medium   97.355680
16 2016-01-17  16.0  0.235480  Medium  116.762437
17 2016-01-18  17.0  0.543283    High   97.347706
18 2016-01-19  18.0  0.452110    High  101.602110
19 2016-01-20  19.0  0.665134  Medium  106.679661
Reindexed DataFrame is:
           A       C   B
0 2016-01-01  Medium NaN
2 2016-01-03     Low NaN
5 2016-01-06    High NaN

In [87]:
#Reindex to align with other object
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])
print('df1 is:')
print(df1)
print('df2 is:')
print(df2)
df1 = df1.reindex_like(df2)
print('reindexed df1 is:')
print(df1)

df1 is:
       col1      col2      col3
0  0.167528 -0.834585 -0.255308
1 -0.412173  0.283451  0.686977
2  0.293668 -1.465713  1.102329
3 -0.061347 -0.789245  1.557558
4  0.445350  0.034451  0.293474
df2 is:
       col1      col2      col3
0  1.644884  0.981431 -0.588206
1  0.683547 -0.466116 -0.674695
reindexed df1 is:
       col1      col2      col3
0  0.167528 -0.834585 -0.255308
1 -0.412173  0.283451  0.686977

In [92]:
#Filling while Reindexing

import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print('df1 is:')
print(df1)
print('df2 is:')
print(df2)
print('default reindexed df1 is:')
print(df1.reindex_like(df2)) #default filling adds NaN
print('Forward Filled reindexed df1 is:')
print(df1.reindex_like(df2,method='ffill'))  #filling method=forward fill...fills the last value for next NaN values
#pad/ffill − Fill values forward

#bfill/backfill − Fill values backward

#nearest

print('Forward Filled with Limit value reindexed df1 is:')
print(df1.reindex_like(df2,method='ffill',limit=1)) #Limit specifies the maximum count of consecutive matches.

df1 is:
       col1      col2      col3
0 -0.951995  1.426103 -0.538669
1  1.582804 -1.520823  3.106827
df2 is:
       col1      col2      col3
0 -0.590776  0.410193  1.425756
1 -0.594644 -0.777731  1.148387
2 -0.958067  0.431382  0.490990
3 -0.371390  0.383075 -0.485326
4  0.543597  1.112137  0.549456
default reindexed df1 is:
       col1      col2      col3
0 -0.951995  1.426103 -0.538669
1  1.582804 -1.520823  3.106827
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
Forward Filled reindexed df1 is:
       col1      col2      col3
0 -0.951995  1.426103 -0.538669
1  1.582804 -1.520823  3.106827
2  1.582804 -1.520823  3.106827
3  1.582804 -1.520823  3.106827
4  1.582804 -1.520823  3.106827
Forward Filled with Limit value reindexed df1 is:
       col1      col2      col3
0 -0.951995  1.426103 -0.538669
1  1.582804 -1.520823  3.106827
2  1.582804 -1.520823  3.106827
3       NaN       NaN       NaN
4       NaN       NaN       NaN

In [95]:
#Renaming
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(df1)

print ("After renaming the rows and columns:")
print(df1.rename(columns={'col1' : 'c1', 'col2' : 'c2'},
index = {0 : 'apple', 1 : 'banana', 2 : 'mango'}))

       col1      col2      col3
0 -0.870818 -0.059525 -2.611081
1  0.491984 -1.146671 -0.212741
2 -1.207975  0.373682  0.879039
3  0.427340 -2.265175 -0.352388
4  2.139679 -0.675006 -0.234606
5  0.774415  0.190360 -0.570463
After renaming the rows and columns:
              c1        c2      col3
apple  -0.870818 -0.059525 -2.611081
banana  0.491984 -1.146671 -0.212741
mango  -1.207975  0.373682  0.879039
3       0.427340 -2.265175 -0.352388
4       2.139679 -0.675006 -0.234606
5       0.774415  0.190360 -0.570463

In [105]:
#Iterating

import pandas as pd
import numpy as np
 
N=6
df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
   })

print('Columns in dataframe:')
for col in df:            #returns cols in dataframe
   print (col)

#iterate over rows

print('Rows as key-value pairs in dataframe:')
for key,value in df.iteritems():  #iteritems() − to iterate over the (key,value) pairs
   print(key,value)
print('Rows as index-row pairs in dataframe:')
for row_index,row in df.iterrows():  #iterrows() − iterate over the rows as (index,series) pairs
   print(row_index,row)
print('Rows in dataframe:')
for row in df.itertuples():   #itertuples() − iterate over the rows as namedtuples
    print(row)

Columns in dataframe:
A
C
D
Rows as key-value pairs in dataframe:
A 0   2016-01-01
1   2016-01-02
2   2016-01-03
3   2016-01-04
4   2016-01-05
5   2016-01-06
Name: A, dtype: datetime64[ns]
C 0    Medium
1       Low
2    Medium
3    Medium
4      High
5    Medium
Name: C, dtype: object
D 0     87.383037
1    113.071543
2    108.899853
3    109.382272
4     79.250865
5     93.346246
Name: D, dtype: float64
Rows as index-row pairs in dataframe:
0 A    2016-01-01 00:00:00
C                 Medium
D                 87.383
Name: 0, dtype: object
1 A    2016-01-02 00:00:00
C                    Low
D                113.072
Name: 1, dtype: object
2 A    2016-01-03 00:00:00
C                 Medium
D                  108.9
Name: 2, dtype: object
3 A    2016-01-04 00:00:00
C                 Medium
D                109.382
Name: 3, dtype: object
4 A    2016-01-05 00:00:00
C                   High
D                79.2509
Name: 4, dtype: object
5 A    2016-01-06 00:00:00
C                 Medium
D                93.3462
Name: 5, dtype: object
Rows in dataframe:
Pandas(Index=0, A=Timestamp('2016-01-01 00:00:00'), C='Medium', D=87.38303653917983)
Pandas(Index=1, A=Timestamp('2016-01-02 00:00:00'), C='Low', D=113.07154314370625)
Pandas(Index=2, A=Timestamp('2016-01-03 00:00:00'), C='Medium', D=108.89985314118617)
Pandas(Index=3, A=Timestamp('2016-01-04 00:00:00'), C='Medium', D=109.38227231966445)
Pandas(Index=4, A=Timestamp('2016-01-05 00:00:00'), C='High', D=79.25086486691181)
Pandas(Index=5, A=Timestamp('2016-01-06 00:00:00'), C='Medium', D=93.34624628444121)

In [116]:
#Sorting
import pandas as pd
import numpy as np

unsorted_df=pd.DataFrame(np.random.randn(6,2),index=[1,4,2,3,5,0],columns=['col2','col1'])
print('Unsorted dataframe is:')
print(unsorted_df)

sorted_df=unsorted_df.sort_index()   #sort rows based on index
print('Sorted dataframe is:')
print(sorted_df)

print('Sorted dataframe in descending order is:')
print(unsorted_df.sort_index(ascending=False))     #sort rows based on index in descending order

print('Sorted dataframe based on columns is:')
print(unsorted_df.sort_index(axis=1))   #sort the columns

print('Sorted dataframe based on specific column is:')
print(unsorted_df.sort_values(by='col1'))   #sort by a column

print('Sorted dataframe based on specific columns is:')
print(unsorted_df.sort_values(by=['col1','col2']))

print('Sorted dataframe is:')
print(unsorted_df.sort_values(by='col1' ,kind='mergesort')) # can choose mergesort, heapsort or quicksort

Unsorted dataframe is:
       col2      col1
1  0.827947  1.438768
4  0.866540  0.900133
2  1.834597 -0.381648
3 -1.459150  0.764339
5 -1.578515  0.242531
0  1.213975 -0.049795
Sorted dataframe is:
       col2      col1
0  1.213975 -0.049795
1  0.827947  1.438768
2  1.834597 -0.381648
3 -1.459150  0.764339
4  0.866540  0.900133
5 -1.578515  0.242531
Sorted dataframe in descending order is:
       col2      col1
5 -1.578515  0.242531
4  0.866540  0.900133
3 -1.459150  0.764339
2  1.834597 -0.381648
1  0.827947  1.438768
0  1.213975 -0.049795
Sorted dataframe based on columns is:
       col1      col2
1  1.438768  0.827947
4  0.900133  0.866540
2 -0.381648  1.834597
3  0.764339 -1.459150
5  0.242531 -1.578515
0 -0.049795  1.213975
Sorted dataframe based on specific column is:
       col2      col1
2  1.834597 -0.381648
0  1.213975 -0.049795
5 -1.578515  0.242531
3 -1.459150  0.764339
4  0.866540  0.900133
1  0.827947  1.438768
Sorted dataframe based on specific columns is:
       col2      col1
2  1.834597 -0.381648
0  1.213975 -0.049795
5 -1.578515  0.242531
3 -1.459150  0.764339
4  0.866540  0.900133
1  0.827947  1.438768
Sorted dataframe is:
       col2      col1
2  1.834597 -0.381648
0  1.213975 -0.049795
5 -1.578515  0.242531
3 -1.459150  0.764339
4  0.866540  0.900133
1  0.827947  1.438768

In [119]:
#Text Data

import pandas as pd
import numpy as np

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])
print('Series is:')
print(s)
print('Lower Case is:')
print(s.str.lower())   #Converts strings in the Series/Index to lower case.
print('Upper Case is:')
print(s.str.upper())   #Converts strings in the Series/Index to upper case.
print('Length of the string is:')
print(s.str.len())    #Computes String length().
print('After stripping whitespaces, the string is:')
print(s.str.strip()) #Helps strip whitespace(including newline) from each string in the Series/index from both the sides.
print('After splitting string with whitespaces, the string is:')
print(s.str.split(' '))  #Splits each string with the given pattern.
print('After concatenating string with _, the string is:')
print(s.str.cat(sep='_')) #Concatenates the series/index elements with given separator.
print('One-Hot Encoding the string is:')
print(s.str.get_dummies())  #Returns the DataFrame with One-Hot Encoded values.
print('The boolean value checking the presence of whitespaces in the string is:')
print(s.str.contains(''))  #Returns a Boolean value True for each element if the substring contains in the element, else False.
print('After replacing @ with $, the string is:')
print(s.str.replace('@','$'))   #Replaces the value a with the value b.
print('After repeating each string twice, the string is:')
print(s.str.repeat(2))  #Repeats each element with specified number of times.
print('No. of appearences of m is string is:')
print(s.str.count('m'))   #Returns count of appearance of pattern in each element.
print('The boolean value checking if the string starts with T:')
print(s.str.startswith('T'))   #Returns true if the element in the Series/Index starts with the pattern.
print('The boolean value checking if the string ends with t:')
print(s.str.endswith('t'))  #Returns true if the element in the Series/Index ends with the pattern.
print('The first position of the first occurrence of the e is:')
print(s.str.find('e'))   #Returns the first position of the first occurrence of the pattern.
print('List of all occurrence of the e is:')
print(s.str.findall('e'))  #Returns a list of all occurrence of the pattern.
print('After swaping uppercase ans lowercase, the string is:')
print(s.str.swapcase)   #Swaps the case lower/upper.
print('The boolean value checking whether all characters in the string are lowercase:')
print(s.str.islower())   #Checks whether all characters in each string in the Series/Index in lower case or not. Returns Boolean
print('The boolean value checking whether all characters in the string are uppercase:')
print(s.str.isupper())   #Checks whether all characters in each string in the Series/Index in upper case or not. Returns Boolean.
print('The boolean value checking whether all characters in the string are numeric:')
print(s.str.isnumeric())   #Checks whether all characters in each string in the Series/Index are numeric. Returns Boolean.

Series is:
0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
dtype: object
Lower Case is:
0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
dtype: object
Upper Case is:
0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVESMITH
dtype: object
Length of the string is:
0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
dtype: float64
After stripping whitespaces, the string is:
0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
dtype: object
After splitting string with whitespaces, the string is:
0              [Tom]
1    [William, Rick]
2             [John]
3          [Alber@t]
4                NaN
5             [1234]
6       [SteveSmith]
dtype: object
After concatenating string with _, the string is:
Tom_William Rick_John_Alber@t_1234_SteveSmith
One-Hot Encoding the string is:
   1234  Alber@t  John  SteveSmith  Tom  William Rick
0     0        0     0           0    1             0
1     0        0     0           0    0             1
2     0        0     1           0    0             0
3     0        1     0           0    0             0
4     0        0     0           0    0             0
5     1        0     0           0    0             0
6     0        0     0           1    0             0
The boolean value checking the presence of whitespaces in the string is:
0    True
1    True
2    True
3    True
4     NaN
5    True
6    True
dtype: object
After replacing @ with $, the string is:
0             Tom
1    William Rick
2            John
3         Alber$t
4             NaN
5            1234
6      SteveSmith
dtype: object
After repeating each string twice, the string is:
0                      TomTom
1    William RickWilliam Rick
2                    JohnJohn
3              Alber@tAlber@t
4                         NaN
5                    12341234
6        SteveSmithSteveSmith
dtype: object
No. of appearences of m is string is:
0    1.0
1    1.0
2    0.0
3    0.0
4    NaN
5    0.0
6    1.0
dtype: float64
The boolean value checking if the string starts with T:
0     True
1    False
2    False
3    False
4      NaN
5    False
6    False
dtype: object
The boolean value checking if the string ends with t:
0    False
1    False
2    False
3     True
4      NaN
5    False
6    False
dtype: object
The first position of the first occurrence of the e is:
0   -1.0
1   -1.0
2   -1.0
3    3.0
4    NaN
5   -1.0
6    2.0
dtype: float64
List of all occurrence of the e is:
0        []
1        []
2        []
3       [e]
4       NaN
5        []
6    [e, e]
dtype: object
After swaping uppercase ans lowercase, the string is:
<bound method _noarg_wrapper.<locals>.wrapper of <pandas.core.strings.StringMethods object at 0x7f3f0f1eacc0>>
The boolean value checking whether all characters in the string are lowercase:
0    False
1    False
2    False
3    False
4      NaN
5    False
6    False
dtype: object
The boolean value checking whether all characters in the string are uppercase:
0    False
1    False
2    False
3    False
4      NaN
5    False
6    False
dtype: object
The boolean value checking whether all characters in the string are numeric:
0    False
1    False
2    False
3    False
4      NaN
5     True
6    False
dtype: object